{% extends "base.html" %}
{% block content %}
    <form action="{% url subscriptions:subscribe %}" method="post">
        {% csrf_token %}
        <p>
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </p>
        <p>
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
            {{ form.cpf.errors }}
        </p>
        <p>
            {{ form.email.label_tag }}
            {{ form.email }}
            {{ form.email.errors }}
        </p>
        <p>
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {{ form.phone.errors }}
        </p>
        <input type="submit" value="Enviar" class="button">
    </form>
{% endblock content %}

